@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color:#0A4D68;
  --secondary-color:#088395;
  --tertiary-color:#05BFDB;
}
[data-theme="dark"]{
  --primary-color:#E74646;
  --secondary-color:#FA9884;
  --tertiary-color:#FFE5CA;
}