.navBarConteiner{
    height: 10vh;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBarConteiner .themeToggle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: lightblue;
}
.navBarConteiner .themeToggle:hover{
    background-color: rgb(101, 191, 221);
    cursor: pointer;
}
.footerConteiner{
    height: 5vh;
    width: 100%;
    background-color: var(--secondary-color);
}