.navBarConteiner{
    height: 10vh;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBarConteiner .logo{
    transition: all 1s ease;
}
.navBarConteiner .logo:hover{
    transform: rotate(30deg);
    filter: drop-shadow(0px 0px 4px white);
}
.navBarConteiner .themeToggle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.navBarConteiner .themeToggle:hover{
    background-color: var(--tertiary-color);
    cursor: pointer;
}
.footerConteiner{
    height: 5vh;
    width: 100%;
    background-color: var(--secondary-color);
}